dashboards/._Proyecto.pbix
data/._Companies.csv
data/._CompanyProfiles.csv
scripts/._ETL_y_Clusterización_de_Empresas_del_S&P_500.ipynb
scripts/._ETL1.py
scripts/._ETL2.py
scripts/._requirements.txt
scripts/._Script_Base_Datos.sql
